# Telegram Bot Token
BOT_TOKEN=8102146925:AAE73uGcF7a4YZ_vrP1fXvXzUve3Wiu3MwQ

# Ichancy Agent Credentials
AGENT_USERNAME=tsa_robert@tsa.com
AGENT_PASSWORD=K041@051kkk
PARENT_ID=2307909

# Database (Railway provides this automatically)
# DATABASE_URL=postgresql://...
